body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: px(14);
  line-height: 1.6;
  color: $color-dark-4;
  background-color: $color-light;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  font-weight: 600;
  line-height: 1.3;
  color: $color-dark-1;
}
